.leaflet-popup-tip-container {
  display: none;
}
.leaflet-marker-icon.marker.leaflet-zoom-animated.leaflet-interactive {
  margin-left: 40px !important;
  margin-top: -22px !important;
}
.leaflet-control-attribution.leaflet-control {
  display: none;
}
